{
  "discord": {
    "token": "NTQ3NzA1OTM5Nzc2NzY1OTUy.D0_faQ.NqQ_s1GsngHCTbqK2TgvX7TgXVc",
    "helpTimer": "10000",
    "mainChannel": "general",
    "timezoneOffset": 0
  },
  "emoji": {
    "redA": false,
    "redB": false,
    "spaceSplit": "  ",
    "charSplit": ""
  },
  "purge": {
    "limit": 5
  }
}
